.infoscreen {
  border: none;
  border-radius: 1vh;
  box-shadow: 0 0 4vh #0006;
  gap: 1vh;
  padding: 3vh 3vh 1.5vh;
  width: 50vw;

  &:focus-visible {
    outline: none;
  }

  > h2 {
    text-align: center;
  }

  > h3 {
    text-align: center;
    margin-bottom: 1em;
  }

  > h4 {
    font-weight: normal;
  }

  > h2, > h3, > h4 {
    margin: 1em 0 0;
    text-wrap: balance;
  }

  > .groups {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2%;

    > .group {
      display: grid;
      place-items: center;
      flex: 1;

      > h4 {
        margin: 0;
        font-size: .85em;
      }
    }
  }

  > ul {
    font-weight: normal;

    &, ul {
      padding-inline-start: 1.5em;
    }

    &:last-of-type {
      font-size: .75em;
      color: #444;
      text-wrap: balance;
      margin-top: 2em;
      padding-left: 0;

      > li::marker {
        content: '*';
      }
    }
  }

  &::backdrop {
    background-color: #000b;
    backdrop-filter: blur(0.33vh);
  }
}