.header {
  font-size: 3em;
}

.goal {
  width: 100%;

  > div {
    height: 20vh;

    &::after {
      content: attr(data-points) " points";
      display: block;
      place-self: center;
      font-weight: bold;
      margin-left: 1ch;
      color: #444;
      white-space: nowrap;
      width: 0;
    }
  }
}

.guesses {
  width: 100%;

  > div {
    box-sizing: border-box;
    margin-top: 1vh;
    width: 100%;
    padding: 1vh;
    border-radius: .5vh;
    background-color: #eee;

    > div {
      height: 5vh;

      > div {
        &::after {
          text-shadow: #000a 0 0 .1em;
          font-size: 1.25em * .75 !important;
        }

        &:hover {
          width: 12.5% !important;
        }
      }
    }

    > h3 {
      margin-top: 0;
      margin-bottom: .25em;

      > i {
        margin-left: .75ch;
        font-style: inherit;
        font-size: .75em;
        color: #444
      }
    }

    &:empty {
      height: calc(5vh + 1.42em * 2);
    }
  }

  > input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 1vh;
    height: 4vh;
    margin-top: 1vh;
    border: none;
    background-color: #eee;
    font-family: sans-serif;
    font-weight: bold;
    padding-inline: 1vh;

    &:focus, &:focus-visible {
      outline: none;
      background-color: #f3f3f3;
    }
  }
}