@use 'sass:list';

.header {
  font-size: 3em;
}

$colors: #76C043, #55C09A, #0DA8E1, #804E9F, #DA4597, #EE3E23, #F6921E, #000000;
$labels: "3-9", "10-15", "16-29", "30-44", "45-59", "60-74", "75+", "Telefon";

.shares {
  display: flex;

  > div {
    height: 100%;
    border-radius: 1vh;
    display: grid;
    place-items: center;
    transition: 0.4s .1s cubic-bezier(0.2, 0, 0.4, 1);
    transition-property: width, filter;

    &:hover {
      width: 50% !important;
      filter: saturate(1.2);
    }

    &::after {
      color: #fff;
      text-shadow: #000 0 0 .2em;
      font-size: 1.25em;
      white-space: nowrap;
      opacity: 0;
      transition: opacity 0.2s 0.2s ease-out;
    }

    @for $i from 1 through 8 {
      $color: list.nth($colors, $i);
      $label: list.nth($labels, $i);

      &:nth-child(#{$i}) {
        background-color: $color;

        &::after {
          @if $i ==8 {
            content: $label;
          }
          @else {
            content: $label " år";
          }
        }

        &:hover::after {
          opacity: 1;
        }
      }
    }
  }

  &:has(:hover) > div:not(:hover) {
    filter: saturate(.8) brightness(.8);
  }
}

.goal {
  width: 100%;

  > div {
    height: 20vh;
    @extend .shares;
  }
}

.guesses {
  width: 100%;

  > div {
    box-sizing: border-box;
    margin-top: 1vh;
    width: 100%;
    padding: 1vh;
    border-radius: .5vh;
    background-color: #eee;

    > div {
      height: 5vh;
      @extend .shares;

      > div {
        &::after {
          text-shadow: #000a 0 0 .1em;
          font-size: 1.25em * .75 !important;
        }

        &:hover {
          width: 30% !important;
        }
      }
    }

    > h3 {
      margin-top: 0;
      margin-bottom: .25em;

      > i {
        margin-left: .75ch;
        font-style: inherit;
        font-size: .75em;
        color: #444
      }
    }

    &:empty {
      height: calc(5vh + 1.42em * 2);
    }
  }

  > input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 1vh;
    height: 4vh;
    margin-top: 1vh;
    border: none;
    background-color: #eee;
    font-family: sans-serif;
    font-weight: bold;
    padding-inline: 1vh;

    &:focus, &:focus-visible {
      outline: none;
      background-color: #f3f3f3;
    }
  }
}