html, body, #root, main {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: sans-serif;
  color-scheme: only light;
  font-size: 1.679vh;
}

main {
  display: grid;
  place-items: start center;
  padding-inline: max(15vw, calc((100vw - 85vh) / 2));
}

h1 {
  margin-block: 0.5vh;
}